* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    height: 110vh;
}

.calculator {
    height: 700px;
    width: 400px;
    background-color: black;
    border-radius: 60px;
}

.bar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.bar span {
    height: 2px;
    width: 110px;
    background-color: #fff;
    border-radius: 3px;
}

.screen {
    height: 160px;
    display: flex;
    color: white;
    font-size: 40px;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 40;
}

.more {
    height: 60px;
    display: block;

}

.more .s,
.c,
.m {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 28px;
}

.history {
    position: absolute;
    z-index: 2;
    margin: 5px 0 0 5px;
    width: 280px;
    height: 415px;
    color: #fff;
    border: 1px solid rgb(83, 76, 70);
    background-color: black;
    overflow: auto;
}

.history .ul {
    list-style: none;
    padding: 0;
}

.history .ul li {
    height: 40px;
    text-align: center;
    font-size: 24px;
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
}

.history .clc {
    background-color: #bf9d0b;
    color: #fff;
    font-size: 28px;
    height: 60px;
    width: 250px;
    margin-left: 10px;
    border-radius: 10px;
}

.buttons {
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10px;
    grid-gap: 1px;

}

.buttons button {
    align-self: center;
    width: 60px;
    height: 60px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    border: none;
    margin: 5px;
}

.buttons .function {
    /* background-color: yellow; */
    background-color: #bf9d0b;
}

.buttons button:active,
.s:active,
.c:active,
.m:active,
.clc:active {
    filter: brightness(240%);
}